*, html 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    background: #FFFBF8
    position: relative

a 
    text-decoration: none

.navbar 
    width: 100%
    background: #3DBEFF
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 10vh
    z-index: 10

    .navbar-container 
        height: 100%
        display: flex
        width: 95%
        margin: auto
        align-items: center
        justify-content: space-between

        .navbar-logo 
            font-size: 30px
            color: #fff
            font-weight: 800

        .navbar-items
            list-style: none
            display: flex
            align-items: center

            li 
                margin: 0 15px

                .navbar-link 
                    color: #fff

        
            .btn-contact
                padding: 15px 30px
                background: #fff
                font-weight: 600
                color: #24303E
                border-radius: 50px
                transition: 0.3s ease

                &:hover
                    background: rgba(#fff, .5)
                    color: #fff

.header 
    height: 100vh
    position: relative
    background: url(../images/desktop/image-header.jpg)
    background-attachment: fixed
    background-size: cover
    background-position: center
    width: 100%

    .header-container 
        position: absolute
        width: max-content
        top: 35%
        left: 50%
        transform: translate(-50%, -50%)

        h1
            font-size: 100px
            color: #fff
            position: relative
            padding-bottom: 80px

            &::after
                content: ""
                display: block
                background: url(../images/icon-arrow-down.svg)
                height: 100%
                width: 50px
                background-position: center
                background-repeat: no-repeat
                position: absolute
                left: 50%
                bottom: -190px
                transform: translateX(-50%)

.section-feature
    .flex-section 
        display: flex
        align-items: center

        .bg-1 
            background: url(../images/desktop/image-transform.jpg)

        .bg-2 
            background: url(../images/desktop/image-stand-out.jpg)

        .bg-3 
            background: url(../images/desktop/image-graphic-design.jpg)
            background-position-y: 0 !important

        .bg-4
            background: url(../images/desktop/image-photography.jpg)
            background-position-y: 0 !important

        .flex-container
            width: 50%
            height: 700px
            background-size: cover !important
            background-position: center
            // background-attachment: fixed !important
            // background-repeat: no-repeat


.section-testimonials
    padding: 15vh 0

    .container
        width: 80%
        // max-width: 1500px
        height: 100%
        // background: red
        margin: auto
        display: flex
        justify-content: space-between
        align-items: center

        .client-container 
            width: 470px

            p 
                text-align: center
                font-size: 25px
                color: #7A7885


    .section-title
        font-size: 25px
        text-transform: uppercase
        color: #A7A7A7
        text-align: center

.con 
    height: 100vh