*, html 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    background: #FFFBF8

a 
    text-decoration: none

.navbar 
    width: 100%
    background: #3DBEFF
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 10vh

    .navbar-container 
        height: 100%
        display: flex
        width: 95%
        margin: auto
        align-items: center
        justify-content: space-between

        .navbar-logo 
            font-size: 30px
            color: #fff
            font-weight: 800

        .navbar-items
            list-style: none
            display: flex
            width: 25em
            justify-content: space-between
            align-items: center

            .navbar-link 
                color: #fff

        
            .btn-contact
                padding: 15px 30px
                background: #fff
                color: #24303E
                border-radius: 50px
                transition: 0.3s ease

                &:hover
                    background: rgba(#fff, .5)
                    color: #fff

.con 
    height: 100vh